@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    padding:0px;
    margin:0px;
}

main{
    width:100%;
    height:100vh;
    background-color: #f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
}

#mainGame{
    width: 90vh;
    height: 90vh + 9px;
    background-color: lightcoral;
}

.casa{
    width:30vh;
    height: 30vh;
    border:3px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins', sans-serif;
    font-size:72px;
}

.linha{
    display:flex;
    flex-direction: row;
}